# Arquivos e pastas gerados automaticamente pelo Flutter e Android Studio
.dart_tool/
.idea/
android/.gradle/
android/.kotlin/
build/
GeneratedPluginRegistrant.java

# Arquivos de configuração e segurança locais
/android/gradlew
/android/gradlew.bat
/android/local.properties
key.properties
**/*.keystore
**/*.jks